.price{
	background: $l-grey;
	padding: 60px 0 100px;
	position: relative;
	.container{
		padding: 0;
	}
	td:first-child{
		display: none;
	}
	.hit:before{
		color: #fff;
		background: url(../img/hit.png) no-repeat;
		width: 61px;
		height: 61px;
		position: absolute;
		content:"";
		top: 0;
		left: -2px;
	}
}
.ico__ok:before, .ico__no:before{
	position: absolute;
	content: "";
	width: 30px;
	height: 30px;
	top: 20px;
	right: 20px;
}
.ico__ok:before{
	background: url(../img/yes.svg) no-repeat;

}
.ico__no:before{
	background: url(../img/no.svg) no-repeat;
}
.price__table-container{
	margin: 0 auto;
	position: relative;

	overflow: hidden;
}
.price__table  {

	position: absolute;
  left: 50%;
  width: 300%;
  min-height: 300px;
  text-transform: uppercase;
  text-align: left;
  transform: translateX(-50%);
  background: #fff;

	td  {
		position: relative;
		text-align: center;

		padding: 25px 0;
		border: 2px solid $tb-grey;
		border-top: none;
	}
	.table__head  {

	background: $d-grey;
	color: #fff;
	border-right: 2px solid $tb-grey;

	}


}
.table__head  {

	p  {

		font-weight: 300;
		font-size: $font-big;

	}

}

.table__filter  {
	border-top: none;
}

@media screen and (min-width:$medium-screen){

	.price{
		color: #fff;
		padding: 90px 0 70px;


		.slider{
			margin: auto;
			padding: 0;
		}
		.slider__navigation{
			display: none;

		}
	}
	.ico__ok:before, .ico__no:before{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.price__table  {
		position: static;
		width: $medium-screen;
		transform: none;

		td  {
			width: 150px;
			padding: 20px 0;
		}
		td:first-child{
			display: table-cell;
			color: $d-grey;
		}
		.table__empty{
			background: $l-grey;
			border: none;
		}

	}
	.table__head  {
		h3{
			font-size: 16px;
		}
		p  {

			font-weight: 300;
			font-size: $font-norm;

		}

	}

}
@media screen  and (min-width:1024px){
	.price{
		padding-top: 90px;
	}
	.price__table  {
		width: $desktop-screen;
		td{
			width: 240px;
		}
	}

}
