.review  {
	padding: 50px 0 40px;
	line-height: 30px;
	text-align: center;
	.container{
		padding: 0;
	}
	.slider__item--active{
			display: flex;
			flex-direction: column;
	}
	&__author  {
		order: 0;
	};
	&__author-name  {
		margin-bottom: 30px;
	};
	&__promo-block{
		display: none;
	}
	&__author-info{
			display: none;
	}
	.slider{

		&:before{
			display: none;
		}
	}
}
@media screen and (min-width:$medium-screen){
	.review  {

		&__author  {
			order: 1;
		};
		&__author-name  {
			font-size: 20px;
			margin: 45px 0 15px;
		};
		&__promo-block{
			display: block;
		}
		&__author-info{
			display: block;
		}

		.slider__item p{
			font-size: $font-norm;
		}

	}
	.review__promo-block{
		text-align: left;
		margin-bottom: 80px;
		.promo-block__img{
			width: 50%;
			float: left;
		}
		.promo-block__img-wrapper{
			background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2015.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.0//EN%22%20%22http%3A//www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd%22%3E%0A%3Csvg%20version%3D%221.0%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20260.644%20301.835%22%20enable-background%3D%22new%200%200%20260.644%20301.835%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22%23eee%22%20d%3D%22M256.317%2C138.176c-4.76-18.067-13.292-34.604-24.729-48.707l7.494-7.49c5.312-5.314%2C5.312-13.931%2C0-19.241%0A%09%09c-2.916-2.921-6.805-4.072-10.609-3.789c-3.144%2C0.223-6.249%2C1.396-8.629%2C3.789l-7.489%2C7.487%0A%09%09c-7.944-6.433-16.688-11.854-26.007-16.292c-8.412-3.985-17.275-7.167-26.535-9.332c-0.078-0.014-0.179-0.014-0.271-0.032%0A%09%09c-4.013-0.933-8.052-1.736-12.213-2.286v-6.979v-0.134v-1.143h6.017c9.392%2C0%2C17.009-7.618%2C17.009-17.032%0A%09%09c0-9.38-7.617-16.994-17.009-16.994h-6.017h-34.015h-7.052c-1.499%2C0-2.936%2C0.253-4.339%2C0.609c0%2C0-0.008%2C0.025-0.017%2C0.025%0A%09%09c-7.282%2C1.926-12.65%2C8.497-12.65%2C16.359c0%2C9.414%2C7.618%2C17.032%2C17.006%2C17.032h7.052v8.256%0A%09%09c-43.809%2C5.715-80.659%2C33.232-99.584%2C71.238c-3.778%2C7.572-6.903%2C15.521-9.144%2C23.823C1.614%2C148.238%2C0%2C159.669%2C0%2C171.507%0A%09%09c0%2C56.342%2C35.818%2C104.221%2C85.912%2C122.402c13.882%2C5.016%2C28.796%2C7.926%2C44.408%2C7.926c6.503%2C0%2C12.889-0.489%2C19.112-1.429%0A%09%09c0.667-0.084%2C1.299-0.281%2C1.97-0.394c18.337-3.002%2C35.447-9.771%2C50.375-19.585c20.617-13.554%2C37.065-32.768%2C47.302-55.442%0A%09%09c7.367-16.356%2C11.564-34.396%2C11.564-53.479C260.644%2C159.989%2C259.135%2C148.823%2C256.317%2C138.176z%20M198.409%2C239.602%0A%09%09c-12.415%2C12.411-27.622%2C20.884-44.204%2C25.133c-5.686%2C1.422-11.595%2C2.194-17.552%2C2.594c-0.85%2C0.053-1.645%2C0.201-2.488%2C0.211%0A%09%09c-1.29%2C0.063-2.551%2C0.261-3.845%2C0.261c-3.537%2C0-7.053-0.228-10.525-0.603c-21.743-2.358-41.883-11.903-57.572-27.596%0A%09%09c-18.188-18.187-28.214-42.38-28.214-68.095c0-2.036%2C0.174-4.021%2C0.292-6.032c1.452-23.453%2C11.165-45.325%2C27.922-62.071%0A%09%09c2.084-2.075%2C4.265-4.021%2C6.491-5.892l0.014-0.013c17.273-14.413%2C38.815-22.303%2C61.593-22.303c4.161%2C0%2C8.256%2C0.285%2C12.29%2C0.812%0A%09%09c12.648%2C1.638%2C24.705%2C5.749%2C35.635%2C12.034c0.119%2C0.072%2C0.25%2C0.162%2C0.358%2C0.244c7.128%2C4.15%2C13.816%2C9.138%2C19.806%2C15.116%0A%09%09c1.407%2C1.417%2C2.684%2C2.916%2C3.979%2C4.4c0.047%2C0.046%2C0.09%2C0.104%2C0.146%2C0.16c2.646%2C3.015%2C5.011%2C6.248%2C7.252%2C9.523%0A%09%09c1.426%2C2.136%2C2.855%2C4.28%2C4.106%2C6.499c7.736%2C13.513%2C12.114%2C28.733%2C12.582%2C44.668c0.034%2C0.952%2C0.134%2C1.878%2C0.134%2C2.853%0A%09%09C226.608%2C197.222%2C216.599%2C221.415%2C198.409%2C239.602z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A") no-repeat;
			width: 260px;
			height: 300px;
			position: relative;
		}
		.promo-block__img-inner{
			display: block;
			color: $pink;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			font-size: 104.6px;
			font-weight: bold;
			vertical-align: middle;
			text-align: center;
			line-height: 175px;
			border: 10px solid $pink;
			position: absolute;
			left: 34px;
			top: 75px;
		}

		article {
			width: 50%;
			float: left;
			padding-top: 45px;
		}

		h2{
			font-weight: bold;
			font-size: $font-bigger;
			width: 160px;
		}
		p{
			margin: 35px 0;
		}
		a {
			color: $pink;
			text-decoration: underline;
		}

	}

}
@media screen and (min-width:1024px){
.review  {
	padding: 0;
	p{
		font-size: $font-norm;
	}

		&__author  {
			order: 1;
		};
		&__author-name  {
			font-size: 20px;
			margin: 45px 0 15px;
		};
		&__promo-block{
			display: block;
		}
		&__author-info{
			display: block;
		}

		.slider{
			padding-top: 120px;
			&:before{
				position: absolute;
				display: block;
				top: 0;
				left:50%;
				content: "";
				width: 78px;
				height: 63px;
				background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2015.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.0//EN%22%20%22http%3A//www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd%22%3E%0A%3Csvg%20version%3D%221.0%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2278.673px%22%20height%3D%2263.788px%22%20viewBox%3D%220%200%2078.673%2063.788%22%20enable-background%3D%22new%200%200%2078.673%2063.788%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20fill%3D%22%23efefef%22%3E%0A%09%3Cpath%20d%3D%22M72.354%2C39.632c-2.797-2.401-6.636-3.604-11.518-3.604h-5.67c0.473-4.081%2C1.278-7.397%2C2.421-9.948%0A%09%09c1.141-2.551%2C2.854-5.044%2C5.139-7.477c2.363-2.51%2C4.685-4.531%2C6.97-6.063c2.283-1.53%2C5.274-3.356%2C8.978-5.477L74.42%2C0%0A%09%09c-2.441%2C1.495-5.474%2C3.42-9.096%2C5.779c-3.623%2C2.359-7.048%2C5.228-10.276%2C8.607c-3.151%2C3.302-5.83%2C7.056-8.033%2C11.261%0A%09%09c-2.206%2C4.204-3.308%2C8.861-3.308%2C13.97c0%2C7.232%2C1.456%2C13.07%2C4.371%2C17.511c2.913%2C4.44%2C7.755%2C6.661%2C14.529%2C6.661%0A%09%09c4.33%2C0%2C7.737-1.436%2C10.218-4.311s3.721-5.967%2C3.721-9.273C76.546%2C45.559%2C75.147%2C42.034%2C72.354%2C39.632z%22/%3E%0A%09%3Cpath%20d%3D%22M19.019%2C18.603c2.362-2.51%2C4.685-4.531%2C6.97-6.063c2.283-1.53%2C5.274-3.356%2C8.978-5.477L30.713%2C0%0A%09%09c-2.441%2C1.495-5.475%2C3.42-9.095%2C5.779c-3.624%2C2.359-7.05%2C5.228-10.278%2C8.607c-3.149%2C3.302-5.828%2C7.056-8.032%2C11.261%0A%09%09C1.103%2C29.851%2C0%2C34.508%2C0%2C39.616c0%2C7.232%2C1.457%2C13.07%2C4.371%2C17.511c2.912%2C4.44%2C7.756%2C6.661%2C14.529%2C6.661%0A%09%09c4.33%2C0%2C7.737-1.436%2C10.218-4.311c2.481-2.875%2C3.722-5.967%2C3.722-9.273c0-4.646-1.399-8.17-4.194-10.572%0A%09%09c-2.796-2.401-6.635-3.604-11.517-3.604h-5.671c0.473-4.081%2C1.3-7.416%2C2.481-10.007C15.12%2C23.432%2C16.812%2C20.958%2C19.019%2C18.603z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A") no-repeat;
				z-index: 2;
				transform: translate(-50%);

			}
		}
		.slider__item p{
			width: 680px;
			margin: auto;
		}
	}
	.review__promo-block{
		text-align: left;
		background: $l-grey;
		padding: 30px 0 65px;
		margin-bottom: 70px;
		.promo-block__img-wrapper{
			background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2015.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.0//EN%22%20%22http%3A//www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd%22%3E%0A%3Csvg%20version%3D%221.0%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20298.001%20345.097%22%20enable-background%3D%22new%200%200%20298.001%20345.097%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22%23dedede%22%20d%3D%22M293.057%2C157.98c-5.442-20.657-15.198-39.563-28.273-55.688l8.567-8.563c6.074-6.077%2C6.074-15.928%2C0-21.999%0A%09%09c-3.334-3.34-7.78-4.656-12.129-4.333c-3.596%2C0.254-7.146%2C1.596-9.866%2C4.333l-8.563%2C8.56c-9.083-7.354-19.081-13.552-29.734-18.627%0A%09%09c-9.617-4.558-19.751-8.195-30.338-10.669c-0.089-0.016-0.205-0.016-0.311-0.038c-4.587-1.065-9.204-1.985-13.962-2.613v-7.98%0A%09%09V40.21v-1.306h6.879c10.737%2C0%2C19.446-8.709%2C19.446-19.474c0-10.724-8.709-19.43-19.446-19.43h-6.879h-38.891h-8.062%0A%09%09c-1.713%2C0-3.356%2C0.288-4.96%2C0.697c0%2C0-0.009%2C0.029-0.02%2C0.029c-8.326%2C2.202-14.463%2C9.715-14.463%2C18.704%0A%09%09c0%2C10.765%2C8.709%2C19.474%2C19.442%2C19.474h8.062v9.439C79.47%2C54.876%2C37.337%2C86.339%2C15.7%2C129.791%0A%09%09c-4.32%2C8.658-7.893%2C17.745-10.454%2C27.238C1.846%2C169.485%2C0%2C182.555%2C0%2C196.089c0%2C64.417%2C40.952%2C119.159%2C98.227%2C139.946%0A%09%09c15.871%2C5.734%2C32.922%2C9.062%2C50.772%2C9.062c7.435%2C0%2C14.736-0.559%2C21.853-1.633c0.762-0.096%2C1.484-0.321%2C2.251-0.451%0A%09%09c20.966-3.432%2C40.528-11.17%2C57.596-22.392c23.571-15.496%2C42.378-37.464%2C54.081-63.389c8.424-18.701%2C13.222-39.326%2C13.222-61.144%0A%09%09C298.001%2C182.92%2C296.276%2C170.153%2C293.057%2C157.98z%20M226.848%2C273.943c-14.194%2C14.189-31.581%2C23.877-50.54%2C28.735%0A%09%09c-6.501%2C1.626-13.258%2C2.51-20.067%2C2.966c-0.971%2C0.061-1.881%2C0.23-2.845%2C0.241c-1.476%2C0.072-2.916%2C0.298-4.396%2C0.298%0A%09%09c-4.044%2C0-8.062-0.26-12.034-0.688c-24.859-2.698-47.885-13.609-65.823-31.552c-20.794-20.793-32.258-48.454-32.258-77.854%0A%09%09c0-2.328%2C0.198-4.599%2C0.334-6.896c1.659-26.815%2C12.766-51.821%2C31.924-70.969c2.383-2.372%2C4.875-4.595%2C7.421-6.736l0.016-0.013%0A%09%09c19.75-16.48%2C44.379-25.5%2C70.421-25.5c4.758%2C0%2C9.438%2C0.327%2C14.051%2C0.929c14.462%2C1.872%2C28.247%2C6.572%2C40.743%2C13.759%0A%09%09c0.136%2C0.083%2C0.286%2C0.184%2C0.409%2C0.279c8.15%2C4.745%2C15.798%2C10.447%2C22.646%2C17.282c1.608%2C1.621%2C3.067%2C3.334%2C4.549%2C5.031%0A%09%09c0.054%2C0.054%2C0.104%2C0.12%2C0.167%2C0.184c3.025%2C3.447%2C5.729%2C7.142%2C8.292%2C10.888c1.629%2C2.442%2C3.264%2C4.894%2C4.694%2C7.431%0A%09%09c8.845%2C15.449%2C13.851%2C32.852%2C14.386%2C51.07c0.038%2C1.088%2C0.152%2C2.147%2C0.152%2C3.261C259.088%2C225.489%2C247.645%2C253.15%2C226.848%2C273.943z%22%0A%09%09/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A") no-repeat;
			width: 260px;
			height: 300px;
			position: relative;
		}
		.promo-block__img-inner{
			display: block;
			color: $pink;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			font-size: 104.6px;
			font-weight: bold;
			vertical-align: middle;
			text-align: center;
			line-height: 175px;
			border: 10px solid $pink;
			position: absolute;
			left: 30px;
			top: 75px;
		}
		article{
			padding-top: 45px;
		}

		h2{

			width: auto;

		}



		a {
			color: $pink;
			text-decoration: underline;
		}

	}

}
