.container{
	min-width: $small-screen;
	max-width: $medium-screen;;
	padding: 0 20px;
	margin: auto;
	width: 100%;

	@media screen and(min-width: $medium-screen) {
		min-width: $medium-screen;
		max-width: $desktop-screen;
	}
	@media screen and(min-width: 1024px) {
		min-width: $desktop-screen;
		max-width: $desktop-screen;
		padding: 0 10px;
	}
}
