.page-header  {
	background: rgba(black, 0.3);
	padding: 20px 0;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

.logo  {
	float: left;
	position: relative;
	z-index: 7;
	h1{
		margin: 0;
	}
	&__link{
		text-transform: uppercase;
		font-size: 32px;
		font-weight: normal;
		display: inline-block;
		height: 25px;
		width: 75px;
		background: url(../img/logo-1.svg);

	}

}

.menu-top  {
	float: right;

	.toggle-btn{
		display: block;
		width: 50px;
		height: 25px;
		position: relative;
		z-index: 7;
		font-size: 0;

	}
}

.menu-top__navigation  {
	display:none;
	position: absolute;
	z-index: 6;
	width: 100%;
	left: 0;
	top: 0;
	ul  {
		list-style: none;
	}
	li  {
		position: relative;
		text-align: center;
		width: 100%;
		background: $d-grey;
		border-top: 1px black solid;
		border-bottom: 1px rgba(255, 255, 255, 0.15) solid;
	}
	.navigation__empty-item{
		content: "";
		padding: 40px;
	}
}
.navigation__link  {
		display: block;
		color: white;
		font-size: $font-norm;
		padding: 25px 0 22px;
		font-weight: bold;
	&:hover,&:focus {
		color: $pink;
	}
	&:active {
		color: rgba($pink, 0.3);
	}
}

@media screen and (min-width:$medium-screen) {
	.page-header  {
		background: rgba(0, 0, 0, 0.3);
		padding: 25px 0 40px;
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;

	}
	.logo  {

		&__link{
			background: url(../img/Pink-logo-2@1x.png) no-repeat;
			width: 150px;
			height: 40px;
			@media screen and (min-resolution: 196dpi), screen and (min-resolution: 2dppx){
				background: url(../img/Pink-logo-2@2x.png) no-repeat;
				background-size: 150px 40px;
			}
		}



	}
	.menu-top{
		.toggle-btn{
			top: 20px;
		}
	}
.menu-top__navigation  {

	.navigation__empty-item  {
		content: "";
		padding: 45px 0 70px;
		}
	}
}
@media screen and (min-width:1024px) {
	.page-header  {
		background: rgba(0, 0, 0, 0.3);
		padding: 25px 0 40px;
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;

	}
	.logo  {

		&__link{
			background: url(../img/Pink-logo-3@1x.png) no-repeat;
			width: 150px;
			height: 40px;
			@media screen and (min-resolution: 196dpi), screen and (min-resolution: 2dppx){
				background: url(../img/Pink-logo-3@2x.png) no-repeat;
				background-size: 150px 40px;
			}
		}


	}

	.menu-top{
		.toggle-btn{
			display: none;
		}
	}

	.menu-top__navigation  {
		display:block;
		position: static;
		ul  {
			list-style: none;
		}
		li  {
			position: static;
			text-align: left;
			width: auto;
			background: none;
			border: none;
			float:right;
			margin-right: 60px;
		}
		.navigation__empty-item{
			display: none;
		}
	.navigation__link  {
			display: block;
			color: white;
			font-size: $font-norm;
			padding: 10px;
			font-weight: normal;
			&:hover,&:focus {
				border-bottom: 2px solid #fff;
			}
			&:active {
				color: rgba(white, .3);
				border-bottom: none;
			}
		}
	}
}
