.information{
	text-align: center;
	background: $l-grey;
	&__headings{
		padding: 45px 0 40px;
		background: #fff;

	}
	&__content{
		padding: 50px 0 285px;

	}
	article{
		margin-bottom: 40px;
	}
	h2{
		margin-bottom: 35px;
	}
	h3{
		margin-bottom: 25px;
	}
}
@media screen and (min-width:$medium-screen){
	.information{
		&__content{
		padding: 75px 0 0 0;

		}
	}
	.information__content--inner{
		float: right;
		width: 50%;
	}
}
