.intro  {
	padding: 100px 0 350px;
	color: #fff;
	text-align: center;
	background: url(../img/iphone-hand-1.png) no-repeat 0 198px,url(../img/background-1@1x.jpg) no-repeat 50% #1d2631;
	background-size: 285px 286px, cover;
	z-index: 4;
	position: relative;
	width: 100%;
	left: 0;
		@media screen and (min-resolution: 196dpi), screen and (min-resolution: 2dppx){
			background: url(../img/iphone-hand-1@2x.png) no-repeat 0 230px,url(../img/background-1@2x.jpg) no-repeat 50% #1d2631;
			background-size: 285px 286px, cover;
		}
		/* Iphone 6 fix */
		@media screen and (min-resolution: 196dpi), screen and (min-resolution: 2dppx), screen and (min-width: 375px), screen and (min-height: 667px){
			background: url(../img/iphone-hand-1@2x.png) no-repeat 0 198px,url(../img/background-1@2x.jpg) no-repeat 50% #1d2631;
			background-size: 285px 286px, cover;
		}
		@media screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx){
			background: url(../img/iphone-hand-1@3x.png) no-repeat 0 198px,url(../img/background-1@3x.jpg) no-repeat 50% #1d2631;
			background-size: 285px 286px, cover;
		}

	@media screen and (min-width:$medium-screen) {
		background: url(../img/iphone-hand-2@1x.png) no-repeat 65% bottom,url(../img/background-2@1x.jpg) no-repeat #1d2631;
		min-height: 500px;
		padding: 200px 0 0;
		background-size: 700px 545px, cover;

			@media screen and (min-resolution: 196dpi), screen and (min-resolution: 2dppx){
				background: url(../img/iphone-hand-2@2x.png) no-repeat 65% bottom,url(../img/background-2@2x.jpg) no-repeat #1d2631;
				background-size: 700px 545px, cover;
			}

		h2{
			font-size: $font-huge;
			width: 180px;
			text-align: center;
			margin-left: 60px;
			position: relative;
			z-index: 5;
		}

	}
}

.app-info{
	margin-top: 350px;
	padding: 30px 0 40px;
	background: #1d2631;
	width: 100%;
	left: 0;
	position: absolute;
	@media screen and (min-width:$medium-screen) {
		margin: 0;
		width: 300px;
		position: relative;
		z-index: 5;
		text-align: left;
		background: none;

	}
}

.os-icons{
	margin: 25px 0;
	text-align: center;
	@media screen and (min-width:$medium-screen) {
		margin: 45px auto 40px;
		width: 200px;
		z-index: 5;

	}
}
.os-icon{
	margin-right: 29px;
	display: inline-block;
	&:last-child{
		margin-right: 0;
	}

}



.download-btn  {
	width: 93.3%;
	border-radius: 30px;
	padding: 10px 0;
	text-align: center;
	background: none;
	border: 3px solid #fff;
	font-weight: bold;
	font-size: $font-norm;
	&:hover,
	&:focus {
		background: #fff;
		color: $pink;
	}
	&:active{
		color: rgba($pink, .3);
	}
}
