.price{
	background: $l-grey;
	padding: 60px 0 100px;
	position: relative;
	.container{
		padding: 0;
	}
	&__headings{
		display: none;
	}
	.hit:before{
		color: #fff;
		background: url(../img/hit.png) no-repeat;
		width: 61px;
		height: 61px;
		position: absolute;
		content:"";
		top: 0;
		left: -2px;
	}
}
.ico__ok:before, .ico__no:before{
	position: absolute;
	content: "";
	width: 30px;
	height: 30px;
	top: 20px;
	right: 20px;
}
.ico__ok:before{
	background: url(../img/yes.svg) no-repeat;

}
.ico__no:before{
	background: url(../img/no.svg) no-repeat;
}
.price__table  {
	margin-right: 2px;
	width: 280px;
	text-transform: uppercase;
	td  {
		position: relative;
		text-align: center;
		background: #fff;
		padding: 25px 0;
		border-top: 2px solid $tb-grey;
		border-bottom: 2px solid $tb-grey;

	}
	.table__head  {

	background: $d-grey;
	color: #fff;
	border: none;

	}


}
.table__head  {

	p  {

		font-weight: 300;
		font-size: $font-big;

	}

}

.table__filter  {
	border-top: none;
}

@media screen and (min-width:$medium-screen){

	.price{
		color: #fff;
		padding: 90px 0 70px;
		&__headings{
			display: table;
		}
		.slider{
			margin: auto;
			padding: 0;
		}
		.slider__navigation{
			display: none;

		}
	}
	.ico__ok:before, .ico__no:before{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.price__headings{
		th{
			height: 95px;
			content: "";
		}
		td{
			color: $d-grey;
		}
	}

	.price__table  {

		width: 150px;
		td  {
			padding: 20px 0;
		}

	}
	.table__head  {
		h3{
			font-size: 16px;
		}
		p  {

			font-weight: 300;
			font-size: $font-norm;

		}

	}

}
@media screen  and (min-width:1024px){
	.price{
		padding-top: 90px;
	}
	.price__table  {
		width: 240px;
	}

}
