.price{
	background: $l-grey;
	padding: 60px 0 100px;
	.container{
		padding: 0;
	}
}
.price__table  {
	margin-right: 2px;
	width: 280px;
	text-transform: uppercase;
	td  {

		text-align: center;
		background: #fff;
		padding: 25px 0;
		border-top: 2px solid $tb-grey;
		border-bottom: 2px solid $tb-grey;

	}
	.table__head  {

	background: $d-grey;
	color: #fff;
	border: none;

	}

}
.table__head  {

	p  {

		font-weight: 300;
		font-size: $font-big;

	}

}
.table__filter  {
	border-top: none;
}
