.review  {
	padding: 50px 0 40px;
	line-height: 30px;
	text-align: center;

	h3  {

		margin-bottom: 30px;
	};
	&__promo-block{
		display: none;
	}
	&__author-info{
			display: none;
	}
}
@media screen and (min-width:$medium-screen){
	.review  {

		&__promo-block{
			display: block;
		}
		&__author-info{
				display: block;
		}
	}
	.review__promo-block{


		div,article {
			width: 50%;
			float: left;
		}

		a {
			color: pink;
			text-decoration: underline;
		}

	}

}
